%h1 Credits

%ul
  %li
    Squeel was written by
    Ernie Miller,
    = mail_to "ernie@erniemiller.org"
  %li
    This tutorial was written by
    Ben Johnson,
    = mail_to "deafgreatdane@gmail.com"

