%h1 Credits

%p
  Feedback and corrections to either the gem or this tutorial are appreciated!

%p
  Squeel was written by
  Ernie Miller,
  = mail_to "ernie@erniemiller.org"

%p
  This tutorial was written by Ben Johnson,
  = mail_to "deafgreatdane@gmail.com"

%h2
  Thanks for reading!
%p
  I hope this tutorial helps with your understanding of Squeel
%p
  \-benJ