This application contains examples that can be used to tinker with the features of
the wonderful
= link_to "squeel gem," , "https://github.com/ernie/squeel"
which makes complex SQL queries intuitive and more ruby-like.